In [1]:
import pandas as pd

In [16]:
PPI_df = pd.read_csv("./raw_data/supply_chain_disruptions/PPI_index_2015.csv")
PPI_df.drop(PPI_df.index[0:155], inplace=True)
PPI_df.reset_index(drop=True, inplace=True)
PPI_df.columns = ["Month", "PPI Index"]
PPI_df["Month"] = pd.to_datetime(PPI_df["Month"])
PPI_df["Month"] = PPI_df["Month"].dt.to_period('M')

PPI_df.head()

     Month PPI Index
0  2015-01     101.3
1  2015-02     101.4
2  2015-03     101.4
3  2015-04     101.6
4  2015-05     101.5

In [17]:
PPI_df.to_csv("./cleaned_data/PPI_df", index=False)

In [43]:
exports_df = pd.read_csv("./raw_data/supply_chain_disruptions/Exports.csv")
exports_df.drop(exports_df.index[0:357], inplace=True)
exports_df.reset_index(drop=True, inplace=True)
exports_df.columns = ["Month", "Exports £m"]

imports_df = pd.read_csv("./raw_data/supply_chain_disruptions/Imports.csv")
imports_df.drop(imports_df.index[0:357], inplace=True)
imports_df.reset_index(drop=True, inplace=True)
imports_df.columns = ["Month", "Imports £m"]


trade_balance_df = pd.read_csv("./raw_data/supply_chain_disruptions/Trade_Balance.csv")
trade_balance_df.drop(trade_balance_df.index[0:357], inplace=True)
trade_balance_df.reset_index(drop=True, inplace=True)
trade_balance_df.columns = ["Month", "Trade Balance £m"]

BOP_df = pd.concat([exports_df.set_index('Month'), imports_df.set_index('Month'), trade_balance_df.set_index('Month')], axis=1)
BOP_df.reset_index(inplace=True)

BOP_df["Month"] = pd.to_datetime(BOP_df["Month"])
BOP_df["Month"] = BOP_df["Month"].dt.to_period('M')

BOP_df.drop(BOP_df.index[0:216], inplace=True)

BOP_df.head()

       Month Exports £m Imports £m Trade Balance £m
216  2015-01      44122      48848            -4726
217  2015-02      43904      48148            -4244
218  2015-03      44995      46779            -1784
219  2015-04      45395      46813            -1418
220  2015-05      45936      46443             -507

In [44]:
BOP_df.to_csv("./cleaned_data/BOP_df", index=False)

In [65]:
BCM_df = pd.read_csv("./raw_data/supply_chain_disruptions/BCM_data.csv")
BCM_df.drop(BCM_df.index[0:25], inplace=True)
BCM_df.reset_index(drop=True, inplace=True)
BCM_df.columns = ["Quarter", "BCM Index"]

BCM_df.head()

   Quarter  BCM Index
0  Q1 2015       16.2
1  Q2 2015       22.4
2  Q3 2015       15.6
3  Q4 2015       11.4
4  Q1 2016        0.8

In [66]:
BCM_df.to_csv("./cleaned_data/BCM_df", index=False)

In [73]:
inv_lev_df = pd.read_excel("./raw_data/supply_chain_disruptions/Inventory_levels.xlsx", sheet_name="Level of Inventories CP and KP")
inv_lev_df.columns = ["Year", "Total Inventories £m 2019 prices"]
inv_lev_df.drop(inv_lev_df.index[0:18], inplace=True)
inv_lev_df.reset_index(drop=True, inplace=True)

inv_lev_df.head()

   Year  Total Inventories £m 2019 prices
0  2015                     231063.585914
1  2016                     213597.271635
2  2017                     212609.605184
3  2018                     206151.893153
4  2019                     207371.000000

In [74]:
inv_lev_df.to_csv("./cleaned_data/inv_lev_df", index=False)

In [75]:
TEG_index_df = pd.read_excel("./raw_data/supply_chain_disruptions/TEG_market_index.xlsx")
TEG_index_df

        Month  TEG Market index
0  2019-01-01             100.0
1  2019-02-01              98.4
2  2019-03-01              99.5
3  2019-04-01             100.9
4  2019-05-01             104.0
..        ...               ...
56 2023-09-01             123.3
57 2023-10-01             120.5
58 2023-11-01             122.2
59 2023-12-01             127.0
60 2024-01-01             116.2

[61 rows x 2 columns]

In [76]:
TEG_index_df.to_csv("./cleaned_data/TEG_index_df", index=False)